bower_components/
node_modules/
temp/
tmp/
logs/
log/
results/
src/*.js
spec/*.js
!spec/test-loader.js
!spec/test-suite.js
!spec/main.js
*.js.map
!dist/*.js.map

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
